body{
    margin: 0px;
    font-size: 24px;
    background-color: #ade4f8;
}
main{
    display: flex;
    background-color: #71b0f0;
    border: 5px solid #5899b9a2;
    border-radius: 10px;
    margin: 150px;
    margin-top: 50px;
    font-family: monospace;
    color: #ebebeb;
    align-items: center;
    flex-direction: column;
    > h1{
        font-size: 60px;
        text-align: center;
        font-family: Calibri;
        margin-top: 25px;
        
        
    }
    > p{
        display: flex;
        margin-left: 80px;
        margin-right: 80px;
        text-align: justify;
        align-self: normal; 
    }
}
nav{
    height: 150px;
    background-color:#71b0f0;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    padding: 10px;
    gap: 10px;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    border-bottom: 8px solid #5899b97e;
    > input{
        padding: 8px;
        border-radius: 16px;
        border: none;
        width: 250px;
        font-size: 20px;
        font-family: 'Courier New';
    }
    > img{
        height: 125px;
    }
    > div{
        display: flex;
        gap: 10px;
        color: #ebebeb;
        > a{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #ebebeb;
            background-color:#9edcf3ad;
            border-radius: 8px;
            border: 5px solid #579ec2c7;
            font-family: monospace;
            text-decoration: none;
            transition: 0.45s;
            padding: 8px;
            width: 75px;
            height: 75px;
            justify-content: center;
            }
        > a:hover{
            padding: 8px 16px;
            > i{
                text-decoration: none;
            }
            > label {
                text-decoration: underline;
            }
        }
    }
}



.dropdown{
    transition: 0.475s;
    color: white;
    background-color:#9edcf3ad;
    border-radius: 8px;
    border: 5px solid #579ec2c7;
    font-family: 'Courier New';
    text-decoration: none;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    > div{
        gap: 10px;
        align-items: center;
        margin-top: 160px;
        border: 5px solid #579ec2c7;
        background-color: #9edcf3ad;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        font-family: 'Courier New';
        font-size: 25px;
        position: absolute;
        display: none;
        flex-direction: column;
    }
}
.dropdown:hover > div{
    display: flex;
    > a{
        padding: 0px 16px;
        text-decoration: none;
        color: #ebebeb;
    }
    > a:hover{
        text-decoration: underline;
    }

}
@media (max-width: 800px){
    nav > div > a{
        display: none;
    }
    .dropdown{
        display: flex;
    }
}
@media (max-width: 450px){
    nav > input{
        display: none;
    }
}
@media (max-width: 1440px){
    nav > div > a{
        font-size: 40px;
        height: 50px;
        width: 50px;
        > img{
            height: 75px;
        }
        > label{
            display: none;
        }
    }
    
}
