body{
    margin: 0px;
    font-size: 24px;
    background-color: #ade4f8;
}
main{
    background-color: #71b0f0;
    border: 5px solid #5899b9a2;
    border-radius: 10px;
    margin: 150px;
    margin-top: 50px;
    font-family: monospace;
    color: #ebebeb;
    > h1{
        font-size: 60px;
        text-align: center;
        font-family: Calibri;
        margin-top: 25px;
    }
    > p{
        margin-left: 50px;
    }
}
nav{
    height: 150px;
    background-color:#71b0f0;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    padding: 10px;
    gap: 10px;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    border-bottom: 8px solid #5899b97e;

    > input{
        padding: 8px;
        border-radius: 16px;
        border: none;
        width: 250px;
        font-size: 20px;
        font-family: 'Courier New';
    }
    > img{
        height: 125px;
    }
    > div{
        display: flex;
        gap: 10px;
        color: #ebebeb;
        > a{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #ebebeb;
            background-color:#9edcf3ad;
            border-radius: 8px;
            border: 5px solid #579ec2c7;
            font-family: monospace;
            text-decoration: none;
            transition: 0.45s;
            padding: 8px;
        }
        > a:hover{
            padding: 8px 16px;
            text-decoration: underline;
        }
    }
}
